hr{
	width:50%;
	border:2px solid #A98307;
}
h1, h2, h3, h4 {
	text-align: center;
	margin: auto;
	width: 80%;
	padding: 10px;
	font-weight: bold;
}
p{
	margin: auto;
	width: 80%;
	padding: 10px;
	text-align: center;
}
li {
	margin: auto;
	width: 80%;
}
body {
	height:100%;
	padding-top: 100px;
	padding-bottom: 30%;
	margin: auto;
	width: 60%;
	border-left: 3px solid #A98307;
	border-right: 3px solid #A98307;
	color: #A98307;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(51,51,51,1) 100%);
}

.footer {
	position: fixed;
	margin: auto;
	width: 100%;
	left:0;
	bottom:0;
	color: #A98307;
	padding-right:25%;
}

.textlink {
	
}

.fa {
  padding: 3px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}